.hero  {
    min-width: 1024px;
    width: 100%;
    min-height: 600px;
    background-image: url(../img/background-img.png);
    background-position: center;
    background-repeat: no-repeat;

    &__content {
        // max-width: 478px;
        
        &__sidebar {

            &__item {

                img {
                    width: 20px;
                    height: 20px;
                }

                .line {

                }
            }
        }

        &__title {
            padding: 138px 80px;
            text-align: right;
        }
    }
}