.hero  {
    min-width: 1024px;
    width: 100%;
    min-height: 500px;
    background-image: url(../img/hero/background-img.png);
    background-position: center;
    background-repeat: no-repeat;

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 150px 45px;
        
        &__sidebar {
            list-style: none;
            display: flex;
            align-items: center;

            .list {
                list-style: none;

                &__item {
                    padding-bottom: 20px;
                    opacity: .8;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    .line {
                        height: 80px;
                        width: 1px;
                        margin: 0 auto;
                        border: 2px solid rgba(255,255,255, .8);
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

            }
        }

        &__title {
            width: 550px;
            text-align: right;
        }
    }
}