@use 'hero';
@use 'header';
@use 'variaveis';
@use 'author';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$bgColor;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/inter/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/inter/Inter-Bold.ttf);
    font-weight: 700;
}
@mixin title($fontsize: 12px) {
    @include text($fontsize);
    color: variaveis.$textmain;
}

@mixin text($fontsize: 18px) {
    font-size: $fontsize;
    color: variaveis.$textsecondary;
}

.text--big {
    @include text(24px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(70px);
}

.title {
    @include title(56px);
}

.title--small {
    @include title(24px);
}